<!-- views/artistas.hbs -->

<div class="container">
  <div class="jumbotron text-center">

    <div class="row">
      {{#each artistas}}
      {{> artistaCard this}}
      {{/each}}
    </div>

  </div>
</div>