<!-- views/artistaCard.hbs -->

<div class="col-md-4">
    <div class="card">

        <div class="card-title" align="middle">
            <h5>{{this.name}}</h5>
            {{#each this.images}}
            {{#if @first}}
            <div class="col-md-6">
                <img class="card-img-top" src="{{this.url}}" />
            </div>
            {{/if}}
            {{/each}}
        </div>

        <div class="card-body">
            <p>Seguidores: {{this.followers.total}} </p>
            <a class="btn btn-primary btn-lg" target="blank" href="/albumes/{{this.id}}">ÁLBUMES</a>
        </div>

    </div>
</div>