<!-- views/buscar.hbs -->


  <div class="container-fluid" style="height:480%">
    <div class="row justify-content-center w-100 h-100">
      <div class="jumbotron w-100 h-100 justify-content-center" style="background-image:url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
        <h1 style="font-color:white">Buscador</h>
        <input class="form-control form-control-lg" type="text" placeholder="Introduce el nombre de un grupo o canción: ">
    </div>
  </div>
  </div>
    

