<!-- views/buscar.hbs -->

<div class="container">
  <div class="jumbotron text-center">

    <form action="/artistas" class="form-group home-form">
      <input placeholder="Buscar un grupo o artista" class="form-control" type="text" name="nombre">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>

  </div>
</div>