<!-- views/buscar.hbs -->

<div class="container-fluid" style="height:480%">
<div class="row justify-content-center w-100 h-100">
  <div class="jumbotron text-center">

    <form action="/artistas" class="form-group home-form" style="background-image:url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
      <input placeholder="Buscar un grupo o artista" class="form-control" type="text" name="nombre">
      <button class="btn btn-primary" type="submit">Buscar</button>
    </form>

  </div>
</div>
</div>

