<!-- views/buscar.hbs -->

<div class="container" style=" height:40%;width:25%">
  <div class="jumbotron text-center">

    <form action="/artistas" class="form-group home-form" style="height:30%;">
      <input placeholder="Buscar un grupo o artista" class="form-control" type="text" name="nombre" />
      <br />
      <br />
      <button class="btn btn-primary btn-lg" target="blank" type="submit">Buscar</button>
    </form>

  </div>
</div>