<!-- views/buscar.hbs -->

<div class="jumbotron text-center" style=" height:25%;width:25%">
  <form action="/artistas" class="form-group home-form" style="height:30%;">
    <input
      placeholder="Buscar un grupo o artista"
      class="form-control"
      type="text"
      name="nombre"
    />
    <br />
    <br />
    <button class="btn btn-primary" type="submit">Buscar</button>
  </form>

</div>