<!-- views/contacto.hbs -->

<div class="jumbotron text-center">

  <h1>Contacto</h1>
  <br />

  <p>Mantenimiento y contacto aquí:
    <br />
    <b>alvaromartin.danielmeruelo@gmail.com</b>
  </p>
  <br />

  <b>Gracias.</b>

</div>