<!-- views/error404.hbs -->

<div class="container">
    <div class="jumbotron text-center">

        <h1>ERROR 404</h1>
        <p>Página no encontrada</p>
        <p><a class="btn btn-primary btn-lg" href="/" role="button">Inicio</a></p>

    </div>
</div>