<!-- views/home.hbs -->

<div class="jumbotron text-center">

  <h1>Spotify API</h1>

  <p>Trabajo para practicar el uso de APIs y middleware creando una utilidad web
    para encontrar música hosteada en Spotify</p>

  <p>
    <br />
    <a class="btn btn-primary btn-lg" target="blank"
      href="https://developer.spotify.com/documentation/web-api/">¡Descrube más!</a>
  </p>

</div>