<div class="container">
    <div class="jumbotron text-center">

        {{#if login}}

        {{#if code}}
        <h1 style="color:#008000">USUARIO CORRECTO</h1>
        {{else}}
        <form action="/login" method="post">
            <!-- Entrada -->
            Usuario:<br>
            <input type="text" name="correo" placeholder="Correo" required><br><br>
            Contraseña:<br>
            <input type="password" name="contraseña" placeholder="Contraseña" required><br><br>
            <!-- Botón -->
            <input class="btn btn-primary btn-lg" target="blank" type="submit" value="CONECTAR">
        </form>

        <p style="color:#FF0000">USUARIO O CONTRASEÑA NO CORRECTA</p>
        {{/if}}

        {{else}}
        <form action="/login" method="post">
            <!-- Entrada -->
            Usuario:<br>
            <input type="text" name="correo" placeholder="Correo" required><br><br>
            Contraseña:<br>
            <input type="password" name="contraseña" placeholder="Contraseña" required><br><br>
            <!-- Botón -->
            <input class="btn btn-primary btn-lg" target="blank" type="submit" value="CONECTAR">
        </form>
        {{/if}}

    </div>
</div>